.class-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 7%; /* Adjusted margin for a more professional look */
    width: 80%; /* Adjusted container width */
    max-width: 600px; /* Set a maximum width for larger screens */
    background: white;

    border-radius: 5%; /* Reduced border-radius for a more subtle look */
}

.class-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%; /* Adjusted margin for a more professional look */
}

.class-underline {
    width: 50%;
    height: 6px;
    background: rgb(95, 95, 95);
    border-radius: 9px;
    margin-top: -3%;
    margin-bottom: 5%; /* Slightly reduced bottom margin for a cleaner look */
}

.class-inputs {
    margin-top: 5%; /* Adjusted top margin for a more professional look */
    flex-direction: column;
    gap: 15px; /* Slightly reduced gap between inputs */
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 6px;
}

.class-inputs input {
    padding: 12px; /* Slightly increased padding for better input appearance */
    width: 100%;
    border: none;
    color: #797979;
    font-size: 16px;
}

.class-attributes {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background: rgba(213, 213, 213, 0.5);
}

.class-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; /* Adjusted width for a more balanced appearance */
    max-width: 300px;
    height: 59px;
    gap: 10px;
    margin: 6% auto; /* Adjusted margin for a more professional look */
    color: white;
    background: rgb(228, 157, 6);
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.Course-Button {
    margin-left: -5%;
}

.Course-Button option {
    border: none;
}

.Course-Button select {
    width: 100%;
    border-color: rgb(228, 157, 6);
}

@media only screen and (max-width: 768px) {
    .class-container {
        width: 90%; 
    }

    .class-inputs {
        width: 80%; 
    }

    .class-submit {
        width: 90%; 
    }
}


@media only screen and (max-width: 480px) {
    .class-container {
        width: 95%; 
        margin-top: 12%; 
    }

    .class-inputs {
        width: 95%; 
    }

    .class-submit {
        width: 95%; 
    }
}