.Show-ContainerIns{
    margin: auto;
    margin-top: 2%;
    width: 35%;
    background: white;
    padding: 1% 0 3% 0;
    border-radius: 30px;
}

.Show-UnderlineIns{
    width: 80%;
    margin: auto;
    height:6px;
    background: rgb(95, 95, 95);
    border-radius: 2px;
}