Link {
    color: aliceblue;
}

.Create-containerStd {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1%;
    width: 35%;
    background: white;
    padding-bottom: 1%;
    border-radius: 30px;
}

.headerStd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 3%;
}

.textStd {
    margin-top: 6%;
    color: rgb(46, 46, 46);
    font-size: 35px;
    font-weight: 700;
}

.underlineStd {
    width: 15%;
    height: 6px;
    background: rgb(95, 95, 95);
    border-radius: 9px;
}

.inputsStd {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputStd {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 4%;
    background: #eaeaea;
    border-radius: 6px;
}

.inputStd input {
    padding-left: 3%;
    height: 35px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submitStd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 59px;
    gap: 10px;
    margin: 5% auto;
    color: white;
    background: rgb(228, 157, 6);
    border: none;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .Create-containerStd {
        width: 80%;
    }

    .submitStd {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .Create-containerStd {
        width: 100%;
    }

    .textStd {
        font-size: 28px;
    }

    .submitStd {
        width: 70%;
    }
}
.Course-Button {
    margin-left: -2%;
}

.Course-Button option {
    border: none;
}

.Course-Button select {
    width: 100%;
    border-color: rgb(228, 157, 6);
}

.Department-Button{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Department-Button select{
    margin-left: 50%;
    text-align: center;
    width: 100%;
}
.Department-Button h3{
    font-size: medium;
    margin-left: 20%;
}

.Class-Button{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.Class-Button select{
    margin-left: 50%;
    text-align: center;
    width: 100%;
}
.Class-Button h3{
    font-size: medium;
    margin-left: 20%;
}